@font-face {
  font-family: "merri";
  src: url("../fonts/Merriweather/Merriweather-Regular.ttf");
}

body{
    background-color: #F9F9F9;
    overflow-x:hidden;
}

.navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 200px;
        text-align: center;
        background-color: transparent;
    }
.navbar>.container .navbar-brand-centered, 
.navbar>.container-fluid .navbar-brand-centered {
    margin-left: -100px;
}

.navbar{
    margin-bottom: 0px;
}

.navbar-perso{
    background-color: white;
    height: 80px;
}

.navbar-margin{
    margin-top: 15px;
}

.itemNav a{
    font-size: 16px;
    cursor: pointer;
}

.jumb{
    height: 700px;
    background-image: url('../img/background_jacotte.jpg');
    background-size: cover;
    background-position: center;
}

.titleJumb{
    font-size: 40px !important;
    padding-left:20%;
    padding-right: 20%;
    margin-bottom: 60px;
    font-family: "merri";
}

.buttonJumb{
    background-color: #A68D83;
    color:white;
    padding:15px 50px 15px 50px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;

}

.buttonJumb:hover{
    text-decoration: none;
    color:white;
}

.howWork{
    padding-top: 10px;
}

.divPicto{
    padding-left: 5%;
    padding-right: 5%;
}

.divPicto h3{
    font-family: "merri";
}

.titleHowWorks{
    padding-bottom: 40px;
    margin-top: 40px;
    font-family: "merri";
}

.picto{
    width: 80px;
    height: 80px;
    margin:10px;
}

.textPicto{
    color: #9A9A9A;
}

.item{
    height: 100%;
    min-height: 370px;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.3);
    border-radius: 5px;
}

.owl-stage{
    margin-left: 10px;
    margin-right: 10px;
    padding-top:15px;
    padding-bottom:15px;
}

.type{
    color:#DEDCDE;
    margin:0px;
    font-size: 14px;
}

.titreMenu{
    margin: 0px;
    font-size: 18px;
    display:inline-block;
    width: 80%;
}

.prix{
    display: inline-block;
    width: 20%;
    font-size: 14px;
}

.imgCarousel{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.description{
    padding:10px;
    font-size: 0px;
}

.descriptionHover{
    display: none;
    position: absolute;
    width: inherit;
    height: 374px;
    margin-top: 10px;
    padding-top: 40px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 5px;
    color: white;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.7);
}

.descriptionVictime{
    display: none;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 95%;
    margin-top: 10px;
    padding-top: 150px;
    padding-right: 10%;
    padding-left: 10%;
    border-radius: 5px;
    color: white;
    top: 0px;
    font-size: 26px;
    background-color: rgba(0, 0, 0, 0.7)
}

.descriptionMenu{
    margin-top: 30px;
}

.allergenes{
    text-align: left;
    margin-top: 60px;
}

.divButton{
    background-color: #A68D83;
    bottom: 0px;
    left: 0px;
    position: absolute;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.buttonMenu{
    color:white;
    text-decoration: none;
}

.buttonMenu:hover{
    color:white;
    text-decoration: none;
}

.menuClassiqueHidden{
    display: none;
}

.menuPersoHidden{
    padding-top: 20px;
    padding-bottom: 20px;
}

.menuClassiqueDisplay{
    padding: 60px;
    background-color: blue;
}

.menuPersoDisplay{
    padding: 60px;
    background-color: red;
}

.divButtonMenu{
    cursor: pointer;
    background-color: #A58E7E;
    width: 40%;
    text-align: center;
    color:white;
    height: 40px;
    padding-top: 10px;
    border-radius: 5px;
    float: right;
    margin-right: 50px;
}

.divButtonMenuPerso{
    cursor: pointer;
    background-color: #A58E7E;
    width: 40%;
    text-align: center;
    color:white;
    height: 40px;
    padding-top: 10px;
    border-radius: 5px;
    float: left;
    margin-left: 50px;
}

.buttonChoix{
    background-color: #F0F0F0;
    color:black;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    padding-top: 10px;
    cursor: pointer;
}

.buttonChoixActive{
    cursor: pointer;
    background-color: #A58E7E;
    color:white;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    padding-top: 10px;
}

#showEntrees,
#showPlats,
#showDesserts,
#showFromages,
#showBoissons{
    display: block;
}

.showFood{
    margin-top: 30px;
}

.divButtonAddMenu{
    background-color: #A58E7E;
    height: 40px;
    border-radius: 5px;
    padding-top: 10px;
    width: 30%;
    margin:auto;
    cursor: pointer;
    text-align: center;
}

/*button A58E7E*/

/* CART */

.cart{
    display: none;
    bottom:0px;
    position: fixed;
    width: 100%;
    z-index: 10000;
    padding-top: 10px;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.3);
    background-color: white;
    right: 0;
}

.imgCart{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.3);
}

.divButtonCart{
    background-color: #A68D83;
    cursor: pointer;
    border-radius: 5px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
}

.cartQte{
    padding-top: 5px;
}

.cartDel{
    padding-top: 10px;
}

.cartUp{
    padding-top: 10px;
    background-color: #EEECEE;
    border-radius: 5px;
    height: 40px;
    text-align: center;
    width: 40px;
    cursor: pointer;
}

.chevron{
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.chevronUp{
    width: 15px;
    height: 15px;
}

.qteInput{
    background-color: #EEECEE;
    display: inline-block;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:8px;
    padding-right:8px;
}

@media (max-width: 768px){
    .qteInput{
        padding-left:5px;
        padding-right:5px;
    }
}

.qteInput input{
    border: none;
    display: inline-block;
    width: 100%;
    background-color: #EEECEE;
}

.imgCross{
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.showCart{
    display: none;
}

/* ADMIN */

#adminMenu,
#adminProduit{
    display: none;
}

.titleCheckout{
    font-size: 22px;
}

/* CHECKOUT 2 */

.ville {
     list-style-type:none;
     text-align: center;
     height: 40px;
     margin: 0px;
     padding:0px;
}

.ville li {
    float:left;
    margin:0 10px 0 0;
    width:100px;
    height:40px;
    position:relative;
}

.ville label, .ville input {
    display:block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.ville input[type="radio"] {
    opacity:0.011;
    z-index:100;
}

.ville input[type="radio"]:checked + label {
    background:#A68D83;
    color:white;
    padding:5px;
    font-weight: 500;
}

.ville label {
    background-color: #CCC;
    color:white;
    padding:5px;
    height: 30px;
    border-radius: 5px;
    cursor:pointer;
    z-index:90;
    font-weight: 500;
}

.ville label:hover {
     background:#A68D83;
     color:white;
}

.rouge{
    color:red;
}

.titleInput{
    color:#BABABA;
    margin-top:30px;
}

.inputAdresse::placeholder,
.inputNom::placeholder,
.inputPrenom::placeholder,
.inputTel::placeholder,
.inputMail::placeholder{
    color:#BABABA;
    font-style: italic;
}

.inputAdresse{
    width: 85%;
    border: none;
    color:#BABABA;
    border:1px #CCC solid;
    border-radius: 5px;
    padding:5px;
}

.inputNom,
.inputPrenom,
.inputTel,
.inputMail{
    width: 70%;
    border: none;
    color:#BABABA;
    border:1px #CCC solid;
    border-radius: 5px;
    padding:5px;
}

.sansMargin{
    padding:0px;
}

.verifCheckbox{
    margin-top: 30px;
}

.footer{
    width: 100%;
    background-color: white;
    padding-top: 80px;
    padding-bottom: 30px;
    padding-right: 10%;
    padding-left: 10%;
}

.right-float{
    float: right;
}

.footer2{
    padding-top: 20px;
    color: white;
    height: 60px;
    width: 100%;
    background-color: #A58E7E;
}

.showDesc{
    height: 25px;
    width: 25px;
    position: absolute;
    z-index: 99999;
    color: white;
    margin-left: 20px;
    top: 30px;
    border: 2px white solid;
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 50%;
    background-color: black;
    cursor: pointer;
    opacity: 0.8;
}

.showInCart{
    width: 25px;
    height: 25px;
    padding-top:4px;
    position: absolute;
    z-index: 99999;
    color: white;
    top:260px;
    margin-left: 250px;
    border-radius: 50%;
    background-color: black;
    cursor: pointer;
    opacity: 0.8;
}

.tick{
    display: none;
}

.tickPad{
    padding-left: 7px;
}

.hitbox{
    top: 70px;
    height: 314px;
    width: 300px;
    position: absolute;
    cursor: pointer;
}

.sliderQualite{
    height: 300px;
    background-color: white;
}

.imgSlider{
    height: 100%;
    background: url(../img/produitQualite.jpg) no-repeat;
}

.imgSlider h1{
    font-family: "merri";
    font-size: 26px;
    text-shadow: 0px 0px 5px rgba(255,255,255,0.8);
}

.imgSlider p{
    text-shadow: 0px 0px 5px rgba(255,255,255,0.8);
}

.textSlider{
    background-color: white;
    height: 100%;
    padding-top:30px;
    padding-bottom: 50px;
}

.nomMenu{
    display: none;
    box-shadow:0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
    color:white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #A68D83;
    border-radius: 5px;
}

.nomMenu input{
    padding:5px;
    color:black;
    border: none;
    width: 20%;
    border-radius: 5px;
    height: 30px;
}

.buttonOkParent{
    cursor: pointer;
    box-shadow:0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
    color:black;
    border-radius: 5px;
    padding-top: 10px;
    background-color: white;
    margin-top: 20px;
}

.victime{
        position: absolute;
    top: 100px;
    left: 5px;
    font-size: 24px;
    color: red;
    z-index: 9999999;
}

.imgVictime{
    opacity: 0.3;
}

.tooLong{
    width: 210px !important;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    background-color: white;
}

@media (max-width: 500px){

    .navbar-margin{
        margin-top: 28px;
    }

    .titleJumb{
        font-size: 20px !important;
        padding-left: 10% !important;
        padding-right: 10% !important;
    }

    .menu .row{
        margin-right: 10px;
        margin-left: 10px;
    }

    .inputMenu{
        width: 100% !important;
    }

    #entrees,
    #plats,
    #desserts,
    #fromages,
    #boissons{
        margin-bottom: 10px;
        margin-top: 10px;
    }

    #showEntrees,
    #showPlats,
    #showDesserts,
    #showFromages,
    #showBoissons{
        margin-left: -10px;
    }

    .divButtonAddMenu{
        width: 80% !important;
    }

    .showFood .container{
        padding-right: 0px;
        padding-left: 0px;
    }

    .menuPersoHidden{
        padding-right: 0px;
        padding-left: 0px;
    }

    .sliderQualite{
        height: 100%;
    }

    .footer{
        padding-top: 10px;
    }

    .footer2{
        height: 100%;
    }

    .hideMobile{
        display: none;
    }

    .mobileCenter{
        text-align: center;
    }

    .showFood .container{
        width: 80% !important;
    }
}

.slick-slide{
    margin-right: 10px;
    margin-left: 10px;
    height: 370px;
    width: 300px !important;
}

.slick-track{
    padding-left: 5px;
}

.slick-next {
    right: -35px;
}

.slick-prev {
    left: -35px;
}

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
    opacity: 1;
    color: black;
}

.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: 1;
    color: black;
    -webkit-font-smoothing: antialiased;
}

.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: 1px black solid;
    outline: none;
    color: black;
    border-radius: 50%;
}

.slick-arrow{
    color:black;
}

@media (max-width: 767px){
    .showFood .container{
        width: 90%;
    }
}

.showEntreeSupp,
.showPlatSupp,
.showDessertSupp,
.showFromageSupp,
.showBoissonSupp{
    display: none;
}






