.navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 200px;
        text-align: center;
        background-color: transparent;
    }
.navbar>.container .navbar-brand-centered, 
.navbar>.container-fluid .navbar-brand-centered {
    margin-left: -100px;
}

.navbar{
    margin-bottom: 0px;
}

.jumb{
    height: 680px;
}

.titleJumb{
    font-size: 40px !important;
    padding-left:20%;
    padding-right: 20%;
    margin-bottom: 60px;
}

.buttonJumb{
    background-color: #A68D83;
    color:white;
    padding:15px 50px 15px 50px;
    border-radius: 5px;
}

.howWork{
    padding-top: 10px;
}

.divPicto{
    padding-left: 5%;
    padding-right: 5%;
}

.titleHowWorks{
    padding-bottom: 40px;
    margin-top: 40px;
}

.picto{
    width: 80px;
    margin:10px;
}

.textPicto{
    color:#DEDCDE;
}

.item{
    height: 370px;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
    border-radius: 5px;
}

.owl-stage{
    margin-left: 10px;
    margin-right: 10px;
    padding-top:15px;
    padding-bottom:15px;
}

.type{
    color:#DEDCDE;
    margin:0px;
    font-size: 14px;
}

.titreMenu{
    margin: 0px;
    font-size: 18px;
    display:inline-block;
    width: 90%;
}

.prix{
    display: inline-block;
    width: 10%;
    font-size: 14px;
}

.imgCarousel{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.description{
    padding:10px;
    font-size: 0px;
}

.descriptionHover{
    display: none;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 370px;
    margin-top:10px;
    padding-top: 40px;
    padding-right: 10%;
    padding-left: 10%;
    border-radius: 5px;
    color: white;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.7);
}

.descriptionMenu{
    margin-top: 30px;
}

.allergenes{
    text-align: left;
    margin-top: 60px;
}

.divButton{
    background-color: #A68D83;
    bottom: 0px;
    left: 0px;
    position: absolute;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.buttonMenu{
    color:white;
    text-decoration: none;
}

.buttonMenu:hover{
    color:white;
    text-decoration: none;
}
/*button A58E7E*/